.App {
  display: flex;
  text-align: center;
  color: white;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black;
  background-image: url("./assets/images/pokeballs_background_HD.png");
  background-size: contain;
  flex-direction: column;
  font-family: 'Kanit';
}

@media (max-height: 500px) {
  .App {
    height: 150vh;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.pokedex {
  display: flex;
  align-items: flex-end;
  height: 80vh;
  margin: 20px;
  background-color: #950730;
  border-radius: 5px 5px 5px 70px;
  flex-direction: column;
  gap: 10px;
  padding: 40px;
  border: 2px solid black;
}

@media (max-width: 768px) {
  .pokedex {
    overflow: scroll;
  }
}

@media (min-width: 768px) {
  .rowstyle {
    overflow: hidden;
    width: 100%;
  }
}

.divisor-container {
  display: flex;
  justify-content: center;
  height: 100%;
}

.divisor-line {
  border-left: 2px solid #000;
  height: 100%;
}

@media (max-width: 768px) {
  .divisor-container {
    width: 100%;
    padding: 2rem 0;
  }

  .divisor-line {
    border-bottom: 2px solid #000;
    width: 100%;
  }
}

.search-bar {
  display: flex;  
  gap: 20px;
  justify-content: center;
  width: 100%;
  position: relative;
}

.pokemon-information {
  display: flex;
  height: 35rem;
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.pokedex .image {
  display: flex;
  background-color: #A29F9F;
  border-radius: 3px;
  width: 200px; 
  height: 200px;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

.pokemon-image {
  padding: 20px;
  border: 1px solid black;
  border-radius: 0 0 0 50px;
  background-color: white;
}

.ball-container {
  overflow: hidden;
  width: 60px;
  height: 60px;
  position: relative;
  animation: shake 1.5s ease-in infinite;
  animation-play-state: paused;
  background-image: url('./assets/images/pokeball_icon.svg.png');
  background-size: contain;
  background-repeat: no-repeat;
}

@keyframes shake {
  0% {
    transform: rotate(5deg);
  }

  5% {
    transform: rotate(-5deg);
  }

  10% {
    transform: rotate(5deg);
  }

  15% {
    transform: rotate(-5deg);
  }

  20% {
    transform: rotate(5deg);
  }

  25% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.ball-container:hover {
  cursor: pointer;
  animation-play-state: running;
}

input :focus {
  border-color: none !important;
  box-shadow: none !important;
}

.pokemon-name {
  display: flex;
  flex-direction: column;
  background: #3ab47d;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  height: 50px;
  width: 100px;
  justify-content: center;
  margin-top: 20px;
}

.line-one {
  background: black;
  width: 30px;
  height: 4px;
  display: flex;
}

.line-two {
  background: black;
  width: 30px;
  height: 4px;
  display: flex;
}

.lines {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

label {
  font-weight: bold;
  font-size: 20px;
  color: black;
}

.container-information {
  background: grey;
  border: 1px solid black;
  border-radius: 10px;
  height: 10rem;
}

.information {
  display: flex;
  padding-left: 20px;
  align-items: center;
  gap: 20px;
}

.abilities {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ability-item {
  text-align: left;
}

.col-pokemon-information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; 
}

@media (max-width: 768px) {
  .col-pokemon-information {
    max-height: 300px;
    padding-bottom: 1rem;
  }
}

.pokemon-type {
  display: flex;
  background: grey;
  color: black;
  border: 1px solid black;
  border-radius: 10px;
  height: 3rem;
  width: 100px;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .lines {
    display: none;
  }
}