.App {
  display: flex;
  text-align: center;
  color: white;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black;
  background-image: url("./images/pokeballs.jpeg");
  background-size: contain;
  flex-direction: column;
  font-family: 'Oxygen';
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.pokedex {
  display: flex;
  align-items: center;
  height: 80vh;
  margin: 20px;
  background-color: #950730;
  border-radius: 5px;
  flex-direction: column;
  gap: 10px;
  padding: 40px;
  border: 2px solid black;
}

.divisor-container {
  display: flex;
  justify-content: center;
  height: 100%;
}

.divisor-line {
  border-left: 2px solid #000;
  height: 100%;
}

@media (max-width: 500px) {
  .divisor-container {
    width: 100%;
    padding: 2rem 0;
  }

  .divisor-line {
    border-bottom: 2px solid #000;
    width: 100%;
  }
}

.search-bar {
  display: flex;  
  gap: 20px;
  justify-content: center;
  width: 100%;
  position: relative;
}

.pokemon-information {
  display: flex;
  height: 200rem;
  align-items: center;
  flex-direction: column;
}

.pokedex .image {
  display: flex;
  background-color: #A29F9F;
  border-radius: 3px;
  width: 200px; 
  height: 200px;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

.ball-container {
  overflow: hidden;
  width: 60px;
  height: 60px;
  position: relative;
  animation: shake 1.5s ease-in infinite;
  animation-play-state: paused;
  background-image: url('./images/pokeball_icon.svg.png');
  background-size: contain;
  background-repeat: no-repeat;
}

@keyframes shake {
  0% {
    transform: rotate(5deg);
  }

  5% {
    transform: rotate(-5deg);
  }

  10% {
    transform: rotate(5deg);
  }

  15% {
    transform: rotate(-5deg);
  }

  20% {
    transform: rotate(5deg);
  }

  25% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.ball-container:hover {
  cursor: pointer;
  animation-play-state: running;
}

input :focus {
  border-color: none !important;
  box-shadow: none !important;
}