body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Kanit';
  src: url('./assets/fonts/Kanit/Kanit-Regular.ttf');
}

@font-face {
  font-family: 'Kanit Medium';
  src: url('./assets/fonts/Kanit/Kanit-Medium.ttf');
}

@font-face {
  font-family: 'Kanit Bold';
  src: url('./assets/fonts/Kanit/Kanit-Bold.ttf');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}